Flask==0.10.1
Flask-Cors==1.10.2
Geohash==1.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
cffi==0.8.6
cryptography==0.7.2
docutils==0.12
enum34==1.0.4
gunicorn==19.1.1
itsdangerous==0.24
mock==1.0.1
protobuf==2.5.0
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
python-geohash==0.8.5
requests==2.5.1
riak==2.2.0
riak-pb==2.0.0.16
six==1.9.0
wsgiref==0.1.2
